<%- include("./_layout/header.ejs") %>
<link href="lib/json/s.css" rel="stylesheet" />
<style>
    .l-panel-topbarinner-left {
        float: right;
    }
    .l-panel-topbar {
        padding: 0;
        background: #E5EFFE url('lib/ligerui/skins/Aqua/images/layout/panel-header2.gif') repeat-x;
        border-bottom: 1px solid #99BBE8;
        margin-top: -24px;
    }
</style>

<div id="spanel">
    <div id="sdiv">
        <form id="sform"></form>
    </div>
</div>

<div id="rdiv">
    <div id="rtab">
        <div title="TableView" tabid="TableView">
            <div id="datagrid"></div>
            <input id="serverName" type="text" hidden="hidden" value="<%= server %>" />
            <input id="dbName" type="text" hidden="hidden" value="<%= db %>" />
            <input id="collectionName" type="text" hidden="hidden" value="<%= col %>" />
            <input id="serverShowName" type="text" hidden="hidden" value="<%= serverName %>">
        </div>
        <div title="TextView" tabid="TextView" id="TextView">
            <div id="textViewContent">
                <div id="Canvas" class="Canvas"></div>
            </div>
        </div>
        <div title="Explain" tabid="Explain" id="Explain">
            <div id="explainInfo">
                <div class="l-loading" id="explainTree_loading">
                </div>
                <ul id="explainTree" class="ztree"></ul>
            </div>
        </div>
    </div>
</div>

<script src="lib/json/c.js"></script>
<script src="js/showdata.js"></script>

<%- include("./_layout/footer.ejs") %>